body {
  padding: 18px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.item {
  width: 50px;
  height: 50px;
  margin: 5px;
  background: lightskyblue;
  border-radius: 5px;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
